.screen {
    height: 100vh;
}

#menu {
    background-color: gray;
    height: 100%;
}

.menu-wrapper {
    margin-left: auto;
    margin-right: auto;
}

.menu-list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
}

.menu-item:not(:last-child) {
    margin-bottom: 30px;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 50px;
    list-style: none;
    text-align: center;
}

.menu-btn {
    border-radius: 25%;
    border: 1px solid black;
    width: 250px;
    height: 50px;
    box-shadow: 3px 3px rgb(20, 13, 13), -1em 0 .4em rgb(83, 83, 69);
    cursor: pointer;
}

.menu-btn a {
    text-decoration: none;
    color: black;
}