.lvlPanel {
    box-sizing: border-box;
    display: flex;
    width: 50%;
    flex-direction: column;
}

.lvlPanelBlock {
    height: calc(25vh - 25px);
    display: flex;
    margin-bottom: 20px;
}

.lvlPanelBlock:first-child{
    margin-top: 10px;
}

.lvlBlock {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 0 10px 10px 0;
    border: 1px solid black;
    padding: 5px;
}

.firstLvlItem {
    gap: 10px;
    background: rgb(146,141,209);
    background: linear-gradient(90deg, rgba(146,141,209,1) 0%, rgba(207,51,130,1) 100%);
}

.secondLvlItem {
    background: rgb(146,141,209);
    background: linear-gradient(90deg, rgba(146,141,209,1) 0%, rgba(207,51,130,1) 100%);
}

.thirdLvlItem {
    background: rgb(146,141,209);
    background: linear-gradient(90deg, rgba(146,141,209,1) 0%, rgba(207,51,130,1) 100%);
}

.fourthLvlItem {
    background: rgb(146,141,209);
    background: linear-gradient(90deg, rgba(146,141,209,1) 0%, rgba(207,51,130,1) 100%);
}

.firstLvlBoard {
    width: calc(100% - 50px);
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow: scroll;
    overflow-x: hidden;
}

.firstUnit {
    width: 7.69%;
    height: 20%;
    background-image: url('/img/МихаилКруг.png');
    background-size: contain;
    background-repeat: no-repeat;
}



#clickerBody {
    display: none;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(182, 167, 167);
    border-radius: 10px;
  }